html {
	font-family: sans-serif;
}

body, html, main {
	font-size: 120%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #FDF06F;
	color: #28292B;
}

body > * {
	margin: 3rem auto;
	max-width: 700px;
	width: 100%;
}

header {
	text-align: center;
	margin: 3rem auto;
	width: auto;
	border-bottom: 2px currentColor solid;
}

h1>span {
	color: #D31B33;
}

.checked label {
	text-decoration: line-through;
}
